* {
  margin: 0;
  padding: 0; 
}
.btn-voice-search {
  /* Add your preferred styles for the voice search button */
  /* For example: */
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  /* Add more styles as needed */
}

.btn-voice-search:hover {
  background-color: #ddd;
  /* Adjust hover styles as desired */
}

.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
  font-size: larger;
}

.nav-left ul li a {
  text-decoration: none;
  color: blue;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.footer {
  height: 50px;
  width: auto;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}
.sidebar{
  position: absolute;
  left: 0;
  width: 15%;
  height: auto;
  background: #042331;
  margin-top: 2%;
  
}
 .sidebar header {
  font-size: 1.5em;
  line-height: 40px;
  text-align: center;
  background: #063146;
  
}
.sidebar header a
{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.sidebar ul li i{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;

  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
}
.sidebar ul li:hover a{
  padding-left: 50px;
}
.l ul li{
 font-style: italic;
}

.op{
  background: #042331;
  color: aqua;
  font-size: 1.5em;
  width: 100%;
  cursor: pointer;
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 2%;
}
iframe {
  width: 100%;
  height: 100vh;
  border: none;
}



